.opinion-scale-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 1em;
}

.opinion-scale-container .opinion-scale-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 767px) {
    .opinion-scale-container .opinion-scale-box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
    }
}

.opinion-scale-container .opinion-scale-box .label {
    background-color: transparent;
    padding: 3px 2px;
    position: absolute;
    bottom: -2em;
    max-width: 10em;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    right: -3em;
}

.opinion-scale-container .opinion-scale-box .label:first-child {
    left: -3em;
}

@media screen and (max-width: 767px) {
    .opinion-scale-container .opinion-scale-box .label:first-child {
        left: -1em;
    }
}

.opinion-scale-container .opinion-scale-box .label.label--middle {
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
    .opinion-scale-container .opinion-scale-box .label {
        right: -1em;
    }
}

.opinion-scale-container .opinion-scale-box .label p {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #1d1e1f;
    font-size: 1em;
    font-weight: 300;
    width: 10em;
    min-width: 80px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.opinion-scale-container .opinion-scale-box .scale-element {
    border: 2px solid rgba(98, 104, 111, 0.5);
    padding: 1em;
    margin: 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    line-height: 1;
    height: 44px;
    width: 44px;
    border-radius: 100%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .opinion-scale-container .opinion-scale-box .scale-element {
        display: inline-block;
        padding: 14px 12px;
    }
}

.opinion-scale-container .opinion-scale-box .scale-element span {
    font-weight: 700;
    font-size: 1.2em;
    color: #62686f;
    text-align: center;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .opinion-scale-container .opinion-scale-box .scale-element span {
        display: inline-block;
        min-width: 18px;
    }
}

.ss_row--builder {
    display: block;
    width: 100%;
    position: relative;
    padding: .5em 0;
}

.ss_row--builder.ss-paddding--top-bottom {
    padding: 1.5em 0;
}

.rating-box.smiley_icon,.rating-box.star_icon,.rating-box.thumb_icon,.rating-box.user_icon,.rating-box.crown_icon,.rating-box.thunder_icon{
    display:none;
}
.rating-container .rating-box {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.rating-container .rating-box .rating-element {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    padding: 5px;
    margin: 2px;
    line-height: 1;
    height: 47px;
    width: 47px;
}

.rating-container .rating-box .rating-element svg {
    color: #62686f;
    width: 100%;
    height: 100%;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .rating-container .rating-box .rating-element {
        display: inline-block;
        padding: 8px 9px;
    }
}

.ss_row--builder {
    display: block;
    width: 100%;
    position: relative;
    padding: .5em 0;
}

.ss_row--builder.ss-paddding--top-bottom {
    padding: 1.5em 0;
}

.ss-rating-icon svg {
    color: #c9c9c9;
    transition: all 0.3s;
}
.ss-rating-icon {
    padding: 10px;
}
.ss-rating-icon.active path, .ss-rating-icon.active circle {
    stroke: #4A9CA6;
}
.iconssec svg {
    height: 24px;
}
span#qus_type {
    font-weight: bold;
}
#update_qus_final{
    display:none;
}
.addchoice {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.input-group.choicequs {
    margin-top: 5px;
    margin-bottom: 5px;
}
#multi_choice_qus,#single_choice_qus{
    display:none;
}
.modal-body{
    color:black;
}
.allqus{
    width:80%;
}
.ss-builder-features__button {
    color: #4A9CA6;
}
.ss-builder-add-new .icon-wrapper{
    color:white;
}
a.quesset.active {
    background: unset !important;
}
a.quesset.active p {
    color: #2a4fd7!important;
}
.surveyques {
    color: #4A9CA6 !important;
}
a.waves-effect.active span.menu-item {
    color: #495057 !important;
}
a.waves-effect.active {
    background: white !important;
}
li.mm-active {
    background: white;
}
.surveyrow {
    border-bottom: 1px solid #EAEAEA;
}
.ss-text__size--h3 {
    font-size: 16px;
}
.ss-text__weight--semibold {
    font-weight: 600;
}
.ss-text__color--dark, .ss-text__color--black {
    color: #25292D;
}
a.surveytitle {
    font-size: 17px;
    font-weight: bold;
    color: black;
}
.navbar-brand-box,.vertical-menu {
    background: white !important;
}
a {
    background-color: transparent;
}

.ss-builder-add-new .icon-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.ss-builder-add-new p {
    margin: 0;
    padding: 0;
}

.ss-builder-add-new {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    margin: 0 0 8px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.ss-builder-add-new .icon-wrapper,
.ss-builder-add-new p {
    transition: all 0.3s;
}

.ss-builder-add-new--sm-sidebar-card {
    border: 1.5px solid rgba(74, 156, 166, 0.25);
    box-shadow: none !important;
    transition: all .2s ease;
    border-radius: 10px;
    height: 48px;
}

.ss-builder-add-new--sm-sidebar-card:hover {
    border: 1.5px solid rgba(74, 156, 166, 0.8);
    background-color: rgba(74, 156, 166, 0.04);
}

.ss-builder-add-new--sm-sidebar-card:has(.ss-builder-features__button:hover):hover {
    border: 1.5px solid rgba(74, 156, 166, 0.25);
}

.ss-builder-add-new--sm-sidebar-card .icon-wrapper {
    height: 48px !important;
    width: 48px !important;
    border-radius: 10px 0 0 10px;
}

.ss-builder-add-new .icon-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin: 0 16px 0 0;
    padding: 12px;
    min-height: 42px;
    background-color: #4A9CA6;
}

.ss-builder-add-new .icon-wrapper i {
    color: #fff;
    font-size: 20px;
}

.ss-builder-add-new p {
    font-size: 16px;
    color: #0D1B1E;
}

.ss-builder-features__button {
    height: 28px;
    border-left: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    padding-inline: 12px 16px;
}

.ss-builder-features__button--primary {
    padding-block: 0 !important;
    margin-inline: 0 !important;
}

.ss-builder-features__button--primary::after {
    left: 38% !important;
    padding-inline: 8px !important;
}

.ss-builder-features__button--primary svg {
    padding: 3px;
}

.ss-builder-features__button--primary:hover svg>path {
    stroke: #63686F !important;
}

body ::selection {
    color: #fff;
    background: rgba(55, 36, 89, 0.2);
}

body a {
    cursor: pointer;
}

i[class^='ss-icon'] {
    font-family: 'SurveySparrow-Icons' !important;
}

a {
    background-color: transparent;
}

div,
p,
a,
i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body *,
body *::after,
body *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a:focus {
    outline: none;
}

body a {
    cursor: pointer;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

:focus {
    outline: none !important;
}

.d-flex {
    display: flex !important;
}

.ss-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 10px 16px;
    margin: 0 .2em;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s;
    border-radius: 3px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
}

.ss-button svg {
    vertical-align: middle;
    transition: all 0.3s;
    opacity: 0.8;
    line-height: inherit;
}

.ss-button:hover,
.ss-button:active,
.ss-button:focus {
    text-decoration: none;
    outline: none;
}

.ss-button:hover svg,
.ss-button:active svg,
.ss-button:focus svg {
    opacity: 1;
}

.ss-button__icon-only {
    padding: .1em;
    margin: 0 .2em;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
}

[spiketip-title]:after {
    text-transform: none !important;
    line-height: 1.2 !important;
    text-align: center !important;
    color: #fff !important;
    font-weight: normal !important;
    font-family: 'proxima-nova', 'Montserrat', sans-serif !important;
    background: #1d1e1f !important;
    word-break: break-word;
}

[spiketip-title]:hover {
    z-index: 1;
}

[spiketip-title]:focus {
    outline: none;
}

.d-flex {
    display: flex;
}

.fx-jc--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.fx-ai--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

i[class^='ss-icon'] {
    font-family: 'SurveySparrow-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ss-icon-plus_round:before {
    content: "\e94f";
}

*:focus {
    outline: none !important;
}

body * {
    font-family: "Source Sans Pro", sans-serif;
}

/*! CSS Used from: Embedded */
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

p {
    margin-bottom: 10px;
    margin-top: 0;
}

::selection {
    background: rgba(125, 188, 255, 0.6);
}

a {
    color: #106ba3;
    text-decoration: none;
}

a:hover {
    color: #106ba3;
    cursor: pointer;
    text-decoration: underline;
}

:focus {
    outline: rgba(19, 124, 189, 0.6) auto 2px;
    outline-offset: 2px;
    -moz-outline-radius: 6px;
}

/*! CSS Used from: Embedded */
[spiketip-title] {
    position: relative;
    cursor: pointer;
}

[spiketip-title]:after {
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    font-family: sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: none !important;
    font-size: 12px !important;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(spiketip-title);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[spiketip-title]:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: '';
    position: absolute;
    z-index: 10;
}

[spiketip-title]:hover:before,
[spiketip-title]:hover:after {
    filter: alpha(opactiy=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    pointer-events: auto;
}

[spiketip-title][spiketip-pos='bottom']:after {
    left: 50%;
    margin-top: 11px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
}

[spiketip-title][spiketip-pos='bottom']:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17,17,17,0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    left: 50%;
    margin-top: 5px;
    top: 100%;
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translate(-50%, -10px);
    -ms-transform: translate(-50%, -10px);
    transform: translate(-50%, -10px);
}

[spiketip-title][spiketip-pos='bottom']:hover:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

[spiketip-title][spiketip-pos='bottom']:hover:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.navbar-brand-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sidebar-menu {
    margin-left: 10px;
    margin-right: 10px;
}
.d-flex.fx-ai--center p{
    margin-left: 10px;
    font-size: 14px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  input#update_qus,.matrixbtn {
    color:white !important;
    background: #4A9CA6;
    border: 1px solid #4A9CA6;
    box-shadow: none !important;
}
span.qus_no {
    font-size: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: flex;
    border-radius: 50%;
    background-color: #0D1B1E !important;
    color: white;
    justify-content: center;
}
.d-flex.qus_set {
    width: 70%;
}
a.quesset {
    margin-left: 5px;
}
.qus_set p{
    font-size: 14px;
}

.upload-image-outer-wrap {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    margin-bottom: 20px;
}

.upload-image-placeholder {
    border-radius: 5px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 170px;
    min-height: 155px;
}

.upload-image-placeholder__upload-btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px dashed rgba(98, 104, 111, 0.5);
    transition: all 0.3s;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.upload-image-placeholder__upload-btn:hover {
    background-color: #fff;
}

.upload-image-placeholder__upload-btn svg {
    margin-bottom: 22px;
}

.upload-image-placeholder__upload-btn p {
    font-size: 11px;
    line-height: 1.2;
    margin: 0;
    color: rgba(98, 104, 111, 0.5);
}
img#preview_image {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
#picture_choices_section .col-md-3 {
    margin-bottom: 9px;
}
.img_placeholder {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 16px 16px 0;
    width: 30%;
    max-width: 205px;
    height: 220px;
    overflow: hidden;
    border-radius: 3px;
    border: thin solid rgba(98,104,111,0.5);
    background-color: #f5f5f5;
    justify-content: space-around;
}
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

.img_placeholder textarea {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #1d1e1f;
    background-color: transparent;
    border: none;
    resize: none;
    text-align: left;
    line-height: 1.3;
}

body ::selection {
    color: #fff;
    background: rgba(55, 36, 89, 0.2);
}

textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

body *,
body *::after,
body *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body textarea:focus {
    outline: none;
}

:focus {
    outline: none;
}

:focus {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

body * {
    font-family: "Source Sans Pro", sans-serif;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background: rgba(125, 188, 255, 0.6);
}

:focus {
    outline: rgba(19, 124, 189, 0.6) auto 2px;
    outline-offset: 2px;
    -moz-outline-radius: 6px;
}
.option-action {
    display: flex;
    width: 87%;
}
img.current_image {
    width: 100px;
    height: 50px;
    object-fit: contain;
}
table#matrix_sec, table#matrix_sec td {
    border: 1px solid #bdbdbd;
    background: #f5f5f5;
}
table#matrix_sec td {
    width: 150px;
    padding: 10px;
    text-align: center;
}
table#matrix_sec td {
    width: 150px;
    padding: 10px;
    text-align: center;
    color: rgba(77,52,70,0.8);
    font-weight: bold;
}
.matrix_action{
    text-align: end;
    margin-bottom: 1rem;
}
.matrix_head{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #1d1e1f;
    background-color: transparent;
    border: none;
    resize: none;
    text-align: left;
    line-height: 1.3;
}
#matrix_table {
    overflow-x: scroll;
    scrollbar-width: none;
}