*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h3,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #2a4fd7;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #1d3798;
    text-decoration: underline;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

[role=button] {
    cursor: pointer;
}

button {
    -webkit-appearance: button;
}

button:not(:disabled) {
    cursor: pointer;
}

h3,
h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 1.42188rem;
}

h4 {
    font-size: 1.21875rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.col-12,
.col-4,
.col-5,
.col-7,
.col-xl-5,
.col-xl-7 {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:1200px) {
    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.rounded-sm {
    border-radius: .2rem !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (min-width:768px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

@media (min-width:768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.mx-0 {
    margin-right: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: .5rem !important;
}

.py-2 {
    padding-top: .5rem !important;
}

.py-2 {
    padding-bottom: .5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.px-3 {
    padding-right: 1rem !important;
}

.px-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
}

.py-5 {
    padding-bottom: 3rem !important;
}

@media (min-width:768px) {
    .py-md-3 {
        padding-top: 1rem !important;
    }

    .py-md-3 {
        padding-bottom: 1rem !important;
    }
}

@media (min-width:1200px) {
    .mt-xl-0 {
        margin-top: 0 !important;
    }

    .px-xl-3 {
        padding-right: 1rem !important;
    }

    .px-xl-3 {
        padding-left: 1rem !important;
    }
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h3 {
        page-break-after: avoid;
    }
}

h3,
h4 {
    color: #495057;
    font-weight: 500;
}

a {
    text-decoration: none !important;
}

a,
button {
    outline: 0 !important;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h3,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #2a4fd7;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #1d3798;
    text-decoration: underline;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

[role=button] {
    cursor: pointer;
}

button {
    -webkit-appearance: button;
}

button:not(:disabled) {
    cursor: pointer;
}

h3,
h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 1.42188rem;
}

h4 {
    font-size: 1.21875rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.col-12,
.col-4,
.col-5,
.col-7,
.col-xl-5,
.col-xl-7 {
    position: relative;
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width:1200px) {
    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.rounded-sm {
    border-radius: .2rem !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@media (min-width:768px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.justify-content-between {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

@media (min-width:768px) {
    .flex-md-nowrap {
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.mx-0 {
    margin-right: 0 !important;
}

.mx-0 {
    margin-left: 0 !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: .5rem !important;
}

.py-2 {
    padding-top: .5rem !important;
}

.py-2 {
    padding-bottom: .5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.px-3 {
    padding-right: 1rem !important;
}

.px-3 {
    padding-left: 1rem !important;
}

.p-4 {
    padding: 1.5rem !important;
}

.py-5 {
    padding-top: 3rem !important;
}

.py-5 {
    padding-bottom: 3rem !important;
}

@media (min-width:768px) {
    .py-md-3 {
        padding-top: 1rem !important;
    }

    .py-md-3 {
        padding-bottom: 1rem !important;
    }
}

@media (min-width:1200px) {
    .mt-xl-0 {
        margin-top: 0 !important;
    }

    .px-xl-3 {
        padding-right: 1rem !important;
    }

    .px-xl-3 {
        padding-left: 1rem !important;
    }
}

@media print {

    *,
    ::after,
    ::before {
        text-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    h3,
    p {
        orphans: 3;
        widows: 3;
    }

    h3 {
        page-break-after: avoid;
    }
}

h3,
h4 {
    color: #495057;
    font-weight: 500;
}

a {
    text-decoration: none !important;
}

a,
button {
    outline: 0 !important;
}

body ::selection {
    color: #fff;
    background: rgba(55, 36, 89, 0.2);
}

body a {
    cursor: pointer;
}

.ss-button__link {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #151e33;
    ;
    transition: all 0.3s;
    line-height: 1.2;
    text-decoration: underline;
    background: transparent;
    border: none;
}

.ss-button__link:hover,
.ss-button__link:active,
.ss-button__link:focus {
    color: #0048b3;
}

a {
    background-color: transparent;
}

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button {
    -webkit-appearance: button;
}

div,
span,
h3,
h4,
p,
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body *,
body *::after,
body *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a:focus,
body button:focus {
    outline: none;
}

body a {
    cursor: pointer;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

:focus {
    outline: none !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-4,
.col-5,
.col-7,
.col-12,
.col-xl-5,
.col-xl-7 {
    position: relative;
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.flex-column {
    flex-direction: column !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

@media (min-width: 768px) {
    .flex-md-nowrap {
        flex-wrap: nowrap !important;
    }
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-flex {
        display: flex !important;
    }
}

.color-grey-2 {
    color: #63686F !important;
}

.bg-grey-6 {
    background-color: #EAEAEA !important;
}

.bg-light-yellow {
    background-color: #FFEBCA !important;
}

.rounded-sm {
    border-radius: 5px;
}

.rounded-md {
    border-radius: 10px;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

body:not([dir='rtl']) .mx-0 {
    margin-right: 0px !important;
}

body:not([dir='rtl']) .mx-0 {
    margin-left: 0px !important;
}

.mt-3 {
    margin-top: 8px !important;
}

body:not([dir='rtl']) .me-3 {
    margin-right: 8px !important;
}

body:not([dir='rtl']) .me-5 {
    margin-right: 16px !important;
}

.p-0 {
    padding: 0px !important;
}

body:not([dir='rtl']) .pe-0 {
    padding-right: 0px !important;
}

.p-2 {
    padding: 4px !important;
}

.py-2 {
    padding-top: 4px !important;
}

.py-2 {
    padding-bottom: 4px !important;
}

.p-3 {
    padding: 8px !important;
}

body:not([dir='rtl']) .px-3 {
    padding-right: 8px !important;
}

body:not([dir='rtl']) .px-3 {
    padding-left: 8px !important;
}

.p-4 {
    padding: 12px !important;
}

.py-5 {
    padding-top: 16px !important;
}

.py-5 {
    padding-bottom: 16px !important;
}

@media (min-width: 768px) {
    .py-md-3 {
        padding-top: 8px !important;
    }

    .py-md-3 {
        padding-bottom: 8px !important;
    }
}

@media (min-width: 1200px) {
    .mt-xl-0 {
        margin-top: 0px !important;
    }

    body:not([dir='rtl']) .px-xl-3 {
        padding-right: 8px !important;
    }

    body:not([dir='rtl']) .px-xl-3 {
        padding-left: 8px !important;
    }

    body:not([dir='rtl']) .pe-xl-5 {
        padding-right: 16px !important;
    }
}

.ss-text {
    margin: 0;
    font-size: 16px;
    color: #25292D;
    font-weight: 500;
}

.ss-text__size--h3 {
    font-size: 16px;
}

.ss-text__size--h4 {
    font-size: 14px;
}

.ss-text__size--micro {
    font-size: 12px;
}

.ss-text__weight--normal {
    font-weight: 400;
}

.ss-text__weight--semibold {
    font-weight: 600;
}

.ss-text__weight--bold {
    font-weight: 700;
}

.ss-text__color--black {
    color: #25292D;
}

.ss-text__color--grey {
    color: #63686F;
}

.ss-text__line-height--large {
    line-height: 1.6;
}

.ss-text__align--center {
    text-align: center;
}

.ss-text__transform--uppercase {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.ss-text__overflow-wrap {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.ss-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 10px 16px;
    margin: 0 .2em;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s;
    border-radius: 3px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
}

.ss-button svg {
    vertical-align: middle;
    transition: all 0.3s;
    opacity: 0.8;
    line-height: inherit;
}

.ss-button:hover,
.ss-button:active,
.ss-button:focus {
    text-decoration: none;
    outline: none;
}

.ss-button:hover svg,
.ss-button:active svg,
.ss-button:focus svg {
    opacity: 1;
}

.ss-button__icon-only {
    padding: .1em;
    margin: 0 .2em;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
}

.ss-button__link {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #151e33;
    transition: all 0.3s;
    line-height: 1.2;
    text-decoration: none;
}

.ss-button__link:hover,
.ss-button__link:active,
.ss-button__link:focus {
    color: #448E97;
    text-decoration: underline;
}

.ss-button__link.ss-button__link--underline {
    text-decoration: underline;
}

.ss-button__link.ss-button__link--underline:hover {
    text-decoration: underline;
}

[spiketip-title]:after {
    text-transform: none !important;
    line-height: 1.2 !important;
    text-align: center !important;
    color: #fff !important;
    font-weight: normal !important;
    font-family: 'proxima-nova', 'Montserrat', sans-serif !important;
    background: #1d1e1f !important;
    word-break: break-word;
}

[spiketip-title]:hover {
    z-index: 1;
}

[spiketip-title]:focus {
    outline: none;
}

.ss-dashboard__list-item--sm-survey-identifier {
    background: #eaeaea;
}

.ss-dashboard__list-item-sm-button {
    border: 0;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.col-4,
.col-5,
.col-7,
.col-12,
.col-xl-5,
.col-xl-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 8px;
    padding-left: 8px;
}

.col-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.col-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.col-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .col-xl-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .col-xl-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
}

.mb--xs {
    margin-bottom: 4px;
}

.background-color--white {
    background-color: #fff;
}

.pointer--cursor {
    cursor: pointer;
}

*:focus {
    outline: none !important;
}

body * {
    font-family: "Source Sans Pro", sans-serif;
}

/*! CSS Used from: Embedded */
.ss-text__size--h3 {
    font-size: 16px;
}

.ss-text__weight--semibold {
    font-weight: 600;
}

.ss-text__color--black {
    color: #25292D;
}



/* Side bar */
a {
    background-color: transparent;
}

body ::selection {
    color: #fff;
    background: rgba(55, 36, 89, 0.2);
}

body a {
    cursor: pointer;
}

a {
    background-color: transparent;
}

div,
span,
h3,
a,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
    list-style: none;
}

body *,
body *::after,
body *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a:focus {
    outline: none;
}

body a {
    cursor: pointer;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

:focus {
    outline: none !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.bg-grey-7 {
    background-color: #F2F5F8 !important;
}

.h-100 {
    height: 100% !important;
}

.my-2 {
    margin-top: 4px !important;
}

.my-2 {
    margin-bottom: 4px !important;
}

.mb-3 {
    margin-bottom: 8px !important;
}

body:not([dir='rtl']) .ms-4 {
    margin-left: 12px !important;
}

.mb-5 {
    margin-bottom: 16px !important;
}

.py-3 {
    padding-top: 8px !important;
}

.py-3 {
    padding-bottom: 8px !important;
}

.pb-7 {
    padding-bottom: 32px !important;
}

body:not([dir='rtl']) .px-7 {
    padding-right: 32px !important;
}

body:not([dir='rtl']) .px-7 {
    padding-left: 32px !important;
}

.pt-10 {
    padding-top: 56px !important;
}

.ss-text {
    margin: 0;
    font-size: 16px;
    color: #25292D;
    font-weight: 500;
}

.ss-text__size--h3 {
    font-size: 16px;
}

.ss-text__weight--normal {
    font-weight: 400;
}

.ss-text__weight--semibold {
    font-weight: 600;
}

.ss-text__color--black {
    color: #25292D;
}

.ss-text__color--grey {
    color: #63686F;
}

.ss-text__color--red {
    color: #F86060;
}

.ss-text__line-height--medium {
    line-height: 1.4;
}

.ss-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 10px 16px;
    margin: 0 .2em;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s;
    border-radius: 3px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
}

.ss-button svg {
    vertical-align: middle;
    transition: all 0.3s;
    opacity: 0.8;
    line-height: inherit;
}

.ss-button:hover,
.ss-button:active,
.ss-button:focus {
    text-decoration: none;
    outline: none;
}

.ss-button:hover svg,
.ss-button:active svg,
.ss-button:focus svg {
    opacity: 1;
}

.ss-button__icon-only {
    padding: .1em;
    margin: 0 .2em;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
}

.ss-button--dropdown {
    position: relative;
    outline: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    border-radius: 4px;
    -webkit-tap-highlight-color: transparent;
}

.ss-button--dropdown span.ss-button {
    margin: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    pointer-events: none;
}

.ss-button--dropdown span.ss-button svg {
    transition: all 0.3s;
}

.ss-button--dropdown ul {
    display: none;
    z-index: 2;
    width: auto;
    min-width: 125px;
    max-height: 360px;
    overflow: auto;
    left: auto;
    right: 0;
    top: 102.5%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 0;
    margin: 0;
}

.ss-button--dropdown ul:empty {
    display: none !important;
}

.ss-button--dropdown ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
    font-size: 14px;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 500;
    font-weight: 500;
    color: #63686F;
    padding: 6px 16px;
}

.ss-button--dropdown ul li:hover {
    background-color: #F6F6F6;
}

.ss-button--dropdown:hover,
.ss-button--dropdown:focus,
.ss-button--dropdown:active {
    text-decoration: none;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar {
    width: 20%;
    min-width: 273px;
    max-width: 273px;
    border-right: 1px solid #EAEAEA;
    transition: width 0.5s ease, min-width 0.5s ease;
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(64, 64, 64, 0.1);
    scrollbar-width: thin;
    scrollbar-face-color: rgba(0, 0, 0, 0.1);
    scrollbar-track-color: rgba(64, 64, 64, 0.1);
}

.ss-dashboard--wrapper .ss-dashboard--sidebar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

.ss-dashboard--wrapper .ss-dashboard--sidebar::-webkit-scrollbar-track {
    background: rgba(64, 64, 64, 0.1);
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--sidebar-container {
    position: fixed;
    width: 273px;
    border-right: 1px solid #EAEAEA;
    top: 64px;
    transform: translate(0, 0);
    transition: transform 0.5s ease;
    padding-bottom: 64px;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--sidebar-container>div {
    padding-top: 30px;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item {
    height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item .ss-button {
    opacity: 0;
    pointer-events: none;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item:hover .ss-button {
    opacity: 1;
    pointer-events: all;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item:last-of-type {
    margin-bottom: 16px !important;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item.active {
    background-color: rgba(174, 203, 203, 0.25);
}

.ss-dashboard--wrapper .ss-dashboard--sidebar .ss-dashboard--folder-item.active::before {
    background-color: #4A9CA6;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.fx-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.fx-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fx-ai--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.fx-grow-1 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.ss-overflow-y--auto {
    overflow-y: auto;
}

.fx--fh {
    height: 100%;
}

.position--relative {
    position: relative;
}

.ss-scrollbar--hide {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

.ss-scrollbar--hide::-webkit-scrollbar,
.ss-scrollbar--hide::-webkit-scrollbar-thumb,
.ss-scrollbar--hide::-webkit-scrollbar-track,
.ss-scrollbar--hide::-webkit-scrollbar-button,
.ss-scrollbar--hide::-webkit-scrollbar-track-piece,
.ss-scrollbar--hide::-webkit-scrollbar-corner,
.ss-scrollbar--hide::-webkit-resizer {
    display: none !important;
    width: 0 !important;
    background: transparent;
}

*:focus {
    outline: none !important;
}

body * {
    font-family: "Source Sans Pro", sans-serif;
}

/*! CSS Used from: Embedded */
span.bp3-popover2-target {
    display: inline-block;
}

/*! CSS Used from: Embedded */
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background: rgba(125, 188, 255, 0.6);
}

a {
    color: #106ba3;
    text-decoration: none;
}

a:hover {
    color: #106ba3;
    cursor: pointer;
    text-decoration: underline;
}

:focus {
    outline: rgba(19, 124, 189, 0.6) auto 2px;
    outline-offset: 2px;
    -moz-outline-radius: 6px;
}

.surveyIcon {
    height: 56px;
    min-width: 56px;
    width: 56px;
    background-color: #ddd;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 60px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

header#page-topbar,
.main-content1 {
    background: #F2F5F8 !important;
}

/* side bar */
.ss-dashboard--folder-item.active {
    background-color: rgba(174, 203, 203, 0.25);
}

.ss-dashboard--folder-item {
    height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.ss-dashboard--folder-item.active::before {
    background-color: #4A9CA6;
}

.ss-dashboard--folder-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
}

.folder.active .ss-text {
    color: #25292D;
    font-weight: 600;
}

.vertical-menu-btn1 {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.createfoldericon {
    position: relative;
    left: 37%;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

a {
    background-color: transparent;
}

body ::selection {
    color: #fff;
    background: rgba(55, 36, 89, 0.2);
}

body a {
    cursor: pointer;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a {
    background-color: transparent;
}

div,
h1,
h4,
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body *,
body *::after,
body *::before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body a:focus {
    outline: none;
}

body a {
    cursor: pointer;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

:focus {
    outline: none !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.bg-white {
    background-color: #fff !important;
}

.mb-6 {
    margin-bottom: 24px !important;
}

.py-5 {
    padding-top: 16px !important;
}

.py-5 {
    padding-bottom: 16px !important;
}

body:not([dir='rtl']) .px-5 {
    padding-right: 16px !important;
}

body:not([dir='rtl']) .px-5 {
    padding-left: 16px !important;
}

.pb-7 {
    padding-bottom: 32px !important;
}

body:not([dir='rtl']) .px-7 {
    padding-right: 32px !important;
}

body:not([dir='rtl']) .px-7 {
    padding-left: 32px !important;
}

.pt-9 {
    padding-top: 48px !important;
}

body:not([dir='rtl']) .px-11 {
    padding-right: 64px !important;
}

body:not([dir='rtl']) .px-11 {
    padding-left: 64px !important;
}

@media (min-width: 1200px) {
    body:not([dir='rtl']) .px-xl-6 {
        padding-right: 24px !important;
    }

    body:not([dir='rtl']) .px-xl-6 {
        padding-left: 24px !important;
    }

    .py-xl-7 {
        padding-top: 32px !important;
    }

    .py-xl-7 {
        padding-bottom: 32px !important;
    }

    body:not([dir='rtl']) .px-xl-11 {
        padding-right: 64px !important;
    }

    body:not([dir='rtl']) .px-xl-11 {
        padding-left: 64px !important;
    }
}

.ss-text {
    margin: 0;
    font-size: 16px;
    color: #25292D;
    font-weight: 500;
}

.ss-text__size--jumbo {
    font-size: 28px;
}

.ss-text__size--h4 {
    font-size: 14px;
}

.ss-text__weight--normal {
    font-weight: 400;
}

.ss-text__weight--semibold {
    font-weight: 600;
}

.ss-text__color--black {
    color: #25292D;
}

.ss-text__color--grey {
    color: #63686F;
}

.ss-button {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 10px 16px;
    margin: 0 .2em;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    transition: all 0.3s;
    border-radius: 3px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    background: transparent;
    border: none;
}

.ss-button:hover,
.ss-button:active,
.ss-button:focus {
    text-decoration: none;
    outline: none;
}

.ss-button.ss-button__primary {
    color: #fff;
    background-color: #4A9CA6;
    border: thin solid #4A9CA6;
}

.ss-button.ss-button__primary:hover,
.ss-button.ss-button__primary:active,
.ss-button.ss-button__primary:focus {
    color: #fff;
    border: thin solid #448E97;
    background-color: #448E97;
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents {
    scrollbar-color: rgba(0, 0, 0, 0.1) rgba(64, 64, 64, 0.1);
    scrollbar-width: thin;
    scrollbar-face-color: rgba(0, 0, 0, 0.1);
    scrollbar-track-color: rgba(64, 64, 64, 0.1);
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents::-webkit-scrollbar-track {
    background: rgba(64, 64, 64, 0.1);
}

@media screen and (max-width: 1024px) {
    .ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents {
        padding: 0 16px;
        height: calc(100vh - 64px - 73px);
    }
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents.ss-no-survey--container {
    height: calc(100vh - 64px - 40px - 24px - 24px - 120px);
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents.ss-no-survey--container .ss-no-survey--wrapper {
    border-radius: 16px;
}

.ss-dashboard--wrapper .ss-dashboard--container .ss-dashboard--contents .ss-dashboard--inner-container {
    border-radius: 16px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.fx-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fx-jc--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
}

.fx-ai--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.mb--xs {
    margin-bottom: 4px;
}

.mb--sm {
    margin-bottom: 8px;
}

.position--relative {
    position: relative;
}

*:focus {
    outline: none !important;
}

body * {
    font-family: "Source Sans Pro", sans-serif;
}

/*! CSS Used from: Embedded */
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

::selection {
    background: rgba(125, 188, 255, 0.6);
}

a {
    color: #106ba3;
    text-decoration: none;
}

a:hover {
    color: #106ba3;
    cursor: pointer;
    text-decoration: underline;
}

:focus {
    outline: rgba(19, 124, 189, 0.6) auto 2px;
    outline-offset: 2px;
    -moz-outline-radius: 6px;
}

.createsurveyBtn {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.folderplus {
    padding-bottom: 2rem;
}
.main-content1{
    margin-left: 250px;
    margin-bottom: 2rem;
}